*.zip
.DS_Store
node_modules/
vendor/
phpredis
pantheon-wordpress-upstream-master
tests/pantheon-wordpress-upstream
bin/install-local-tests.sh
bin/install-wp-tests.sh
bin/phpunit-test.sh
bin/helpers.sh
