<?xml version="1.0"?>
<ruleset name="WP Redis">
	<description>Sniffs for the coding standards of the WP Redis plugin</description>

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>

	<rule ref="PHPCompatibility"/>

	<!-- Minimum PHP and WP versions -->
	<config name="testVersion" value="7.1-"/>
	<config name="minimum_supported_wp_version" value="4.6"/>

	<exclude-pattern>*/bin/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<rule ref="WordPress.PHP.DevelopmentFunctions">
		<properties>
			<property name="exclude" value="error_log" />
		</properties>
	</rule>
	<rule ref="WordPress.PHP.DevelopmentFunctions.error_log_error_log">
		<exclude-pattern>*/tests/phpunit/bootstrap.php</exclude-pattern>
	</rule>
	<rule ref="WordPress.PHP.DiscouragedPHPFunctions">
		<properties>
			<property name="exclude" type="array" value="serialize,unserialize" />
		</properties>
	</rule>
	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="strict_class_file_names" value="false" />
		</properties>
	</rule>
</ruleset>
