version: 2.1
workflows:
  main:
    jobs:
      - test-behat
      - test-phpunit-redis-disabled-74
      - test-phpunit-redis-enabled-74
      - test-phpunit-redis-disabled-82
      - test-phpunit-redis-enabled-82
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - release
    jobs:
      - test-behat

commands:
  install-extras:
    steps:
      - run:
          name: "Install Extra Dependencies"
          command: |
            sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 4EB27DB2A3B88B8B
            sudo apt-get update
            sudo apt-get install subversion
            sudo apt-get install -y libmagickwand-dev --no-install-recommends
            yes '' | sudo pecl install imagick || true
            sudo docker-php-ext-enable imagick
            sudo docker-php-ext-install mysqli
  install-mariadb-10-5:
    steps:
      - run: sudo apt-get install mariadb-client-10.5
  install-mariadb-10-6:
    steps:
      - run: sudo apt-get install mariadb-client-10.6
  install-redis-extras:
    steps:
      - run: 
          name: "Install Redis Extras"
          command: |
            yes '' | sudo pecl install redis || true
            sudo docker-php-ext-enable redis
  run-phpunit-tests:
    steps:
      - run:
          name: "Run Tests"
          command: |
            bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1 latest
            composer phpunit
            WP_MULTISITE=1 composer phpunit
            WP_REDIS_USE_CACHE_GROUPS=1 composer phpunit
            rm -rf $WP_TESTS_DIR $WP_CORE_DIR
            bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1 nightly true
            composer phpunit
jobs:
  test-behat:
    resource_class: small
    working_directory: ~/pantheon-systems/wp-redis
    parallelism: 1
    docker:
    - image: quay.io/pantheon-public/build-tools-ci:8.x-php8.2
    steps:
    - checkout
    - restore_cache:
        keys:
          - test-behat-dependencies-{{ checksum "composer.json" }}
    - run: composer install -n --prefer-dist
    - save_cache:
        key: test-behat-dependencies-{{ checksum "composer.json" }}
        paths:
          - vendor
    - run: echo $(openssl rand -hex 8) > /tmp/WORDPRESS_ADMIN_PASSWORD
    - run: |
        echo 'export TERMINUS_ENV=ci-$CIRCLE_BUILD_NUM' >> $BASH_ENV
        echo 'export TERMINUS_SITE=wp-redis' >> $BASH_ENV
        echo 'export SITE_ENV=wp-redis.ci-$CIRCLE_BUILD_NUM' >> $BASH_ENV
        echo 'export WORDPRESS_ADMIN_USERNAME=pantheon' >> $BASH_ENV
        echo 'export WORDPRESS_ADMIN_EMAIL=no-reply@getpantheon.com' >> $BASH_ENV
        echo 'export WORDPRESS_ADMIN_PASSWORD=$(cat /tmp/WORDPRESS_ADMIN_PASSWORD)' >> $BASH_ENV
        source $BASH_ENV
    - run: echo "StrictHostKeyChecking no" >> "$HOME/.ssh/config"
    - run: |
        if [ -z "$GITHUB_TOKEN" ]; then
          echo "GITHUB_TOKEN environment variables missing; assuming unauthenticated build"
          exit 0
        fi
        echo "Setting GitHub OAuth token with suppressed ouput"
        {
          composer config -g github-oauth.github.com $GITHUB_TOKEN
        } &> /dev/null
    - run: |
        if [ -z "$TERMINUS_TOKEN" ]; then
          echo "TERMINUS_TOKEN environment variables missing; assuming unauthenticated build"
          exit 0
        fi
        terminus auth:login --machine-token=$TERMINUS_TOKEN
    - run: ./bin/validate-fixture-version.sh
    - run: ./bin/behat-prepare.sh
    - run: ./bin/behat-test.sh --strict
    - run:
        command: ./bin/behat-cleanup.sh
        when: always
  test-phpunit-redis-disabled-74:
    resource_class: small
    working_directory: ~/pantheon-systems/wp-redis
    docker:
      - image: circleci/php:7.4-node-browsers
      - image: cimg/mariadb:10.3
    environment:
      - WP_TESTS_DIR: "/tmp/wordpress-tests-lib"
      - WP_CORE_DIR: "/tmp/wordpress/"
    steps:
      - checkout
      - restore_cache:
          keys:
            - test-phpunit-74-dependencies-{{ checksum "composer.json" }}
      - run: composer update
      - run: composer install -n --prefer-dist
      - save_cache:
          key: test-phpunit-74-dependencies-{{ checksum "composer.json" }}
          paths:
            - vendor
      - install-extras
      - install-mariadb-10-5
      - run-phpunit-tests
  test-phpunit-redis-enabled-74:
    resource_class: small
    working_directory: ~/pantheon-systems/wp-redis
    docker:
      - image: circleci/php:7.4-node-browsers
      - image: cimg/mariadb:10.3
      - image: circleci/redis:6.2
    environment:
      - WP_TESTS_DIR: "/tmp/wordpress-tests-lib"
      - WP_CORE_DIR: "/tmp/wordpress/"
    steps:
      - checkout
      - restore_cache:
          keys:
            - test-phpunit-74-dependencies-{{ checksum "composer.json" }}
      - run: composer update
      - run: composer install -n --prefer-dist
      - save_cache:
          key: test-phpunit-74-dependencies-{{ checksum "composer.json" }}
          paths:
            - vendor
      - install-extras
      - install-mariadb-10-5
      - install-redis-extras
      - run-phpunit-tests
  test-phpunit-redis-disabled-82:
    resource_class: small
    working_directory: ~/pantheon-systems/wp-redis
    docker:
      - image: cimg/php:8.2.0
      - image: cimg/mariadb:10.3
    environment:
      - WP_TESTS_DIR: "/tmp/wordpress-tests-lib"
      - WP_CORE_DIR: "/tmp/wordpress/"
    steps:
      - checkout
      - restore_cache:
          keys:
            - test-phpunit-82-dependencies-{{ checksum "composer.json" }}
      - run: composer install -n --prefer-dist
      - save_cache:
          key: test-phpunit-82-dependencies-{{ checksum "composer.json" }}
          paths:
            - vendor
      - install-extras
      - install-mariadb-10-6
      - run-phpunit-tests
  test-phpunit-redis-enabled-82:
    resource_class: small
    working_directory: ~/pantheon-systems/wp-redis
    docker:
      - image: cimg/php:8.2.0
      - image: cimg/mariadb:10.3
      - image: circleci/redis:6.2
    environment:
      - WP_TESTS_DIR: "/tmp/wordpress-tests-lib"
      - WP_CORE_DIR: "/tmp/wordpress/"
    steps:
      - checkout
      - restore_cache:
          keys:
            - test-phpunit-82-dependencies-{{ checksum "composer.json" }}
      - run: composer install -n --prefer-dist
      - save_cache:
          key: test-phpunit-82-dependencies-{{ checksum "composer.json" }}
          paths:
            - vendor
      - install-extras
      - install-mariadb-10-6
      - install-redis-extras
      - run-phpunit-tests
